<div class="blog--sidebar">
    <section id="search-2" class="widget widget_search">
      <form role="search" method="get" class="search-form" action="/blog">
        <label>
          <span class="screen-reader-text">Search for:</span>
          <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
        </label>
        <input type="submit" class="search-submit" value="Search" />
      </form>
    </section>
    <section id="recent-posts-2" class="widget widget_recent_entries">
      <h2 class="widget-title">Recent Posts</h2>
      <ul>
        <li>
          <a href="#">Converting String to
            Integer in Python: A Comprehensive Guide</a>
        </li>
        <li>
          <a href="#">Effective Techniques to End Python
            Programs</a>
        </li>
        <li>
          <a href="#">Why Should Students Have Homework? Pros and Cons of
            Academic Assignments</a>
        </li>
        <li>
          <a href="#">How To Use ChatGPT To Write Code</a>
        </li>
        <li>
          <a href="#">Introduction to Google
            Java Coding Style</a>
        </li>
      </ul>

    </section>
    <section id="categories-2" class="widget widget_categories">
      <h2 class="widget-title">Categories</h2>
      <ul>
        <li class="cat-item cat-item-7"><a href="#">Problem Solving</a>
        </li>
        <li class="cat-item cat-item-11"><a href="#">STEM</a>
        </li>
        <li class="cat-item cat-item-5"><a href="#">Student Life</a>
        </li>
        <li class="cat-item cat-item-3"><a href="#">Topics</a>
        </li>
        <li class="cat-item cat-item-2"><a href="#">Writing Tips</a>
        </li>
      </ul>

    </section>
  </div>