<aside class="section-common-page__aside">
    <div class="section-common-page__aside__heading">Read also:</div>
    <ul class="section-common-page__aside__menu">
        <li class="section-common-page__aside__menu-item">
            <a href="/privacy-policy">Privacy Policy</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/terms-conditions">Terms and Conditions</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/money-back-guarantee">Money Back Guarantee</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/plagiarism-free">No Plagiarism
                Guarantee</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/cookie-policy">Cookie Policy</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/revision-policy">Revision Policy</a>
        </li>
        <li class="section-common-page__aside__menu-item">
            <a href="/social-responsibility-policy">Social
                Responsibility Notice</a>
        </li>
    </ul>
</aside>