<div class="section section-cta section-cta--type-orange decor-2" data-observed-bg>
    <div class="container">
      <div class="section-cta__inner">
        <img
          src="/images/main-landing-page-images/redesign/decorations/img_clock.png"
          width="66"
          height="73"
          alt="Decorative picture"
          loading="lazy"
        >
        <h5>Need your assignment ASAP?</h5>
        <p>We are here for you 24/7. Just tell us about your task, and we’ll help you out.</p>
        <a rel="nofollow" href="/form" class="btn btn--black-white">Order now</a>
      </div>
    </div>
  </div>  