<style>
    .whatsapp-icon {
        position: fixed;
        bottom: 60px;
        right: -20px;
        z-index: 1000;
    }

    .whatsapp-icon img {
        width: 150px;
        height: 150px;
    }
</style>

<a href="https://wa.me/+447769108567" class="whatsapp-icon" target="_blank">
    <img src="/gifs/whatsapp-animated-icon.gif" alt="WhatsApp" />
</a>
