<style>
    .section-top-stem {
        background-color: #06234A;
    }

    .whatsapp-icon {
        position: fixed;
        bottom: 20px;
        right: -18px;
        z-index: 1000;
    }

    .whatsapp-icon img {
        width: 120px;
        height: 120px;
    }
</style>

<a href="https://wa.me/+447769108567" class="whatsapp-icon" target="_blank">
    <img src="/gifs/whatsapp-animated-icon.gif" alt="WhatsApp" />
</a>
