<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Signup</title>
    <link rel="stylesheet" href="./css/user/login-signup-user.css">
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
    
</head>

<body>
    <div class="container">
        <h1>Login/Signup</h1>

        <div id="login-form">
            <h2>Login</h2>
            <form action="/login-user" method="POST">
                <input type="text" placeholder="Username" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="#" onclick="toggleForm('signup-form')">Signup</a></p>
            <p>Forgot your password? <a href="#" onclick="toggleForm('reset-password-form')">Reset Password</a></p>
        </div>




        
        <div id="signup-form" style="display: none;">
            <h2>Signup</h2>
            <form id="signupForm" action="/signup-user" method="POST">
                <input type="text" placeholder="Name" name="name" required>
                <div id="username-container">

                    <input type="text" placeholder="Username" name="username" id="username" required>
                    <p id="username-error" class="error" style="display: none;">Username already exists. Please try a different username.</p>
                </div>

                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>

                <button type="submit">Signup</button>
            </form>

            <p>Already have an account? <a href="#" onclick="toggleForm('login-form')">Login</a></p>
        </div>





        <div id="reset-password-form" style="display: none;">
            <h2>Reset Password</h2>
            <form action="/reset-password-user" method="POST">
                <input type="text" placeholder="Username" name="username" id="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <button type="submit">Reset Password</button>
            </form>
            
            <p>Remembered your password? <a href="#" onclick="toggleForm('login-form')">Login</a></p>
        </div>
    </div>





    <script>
    
        function toggleForm(formId) {
            var loginForm = document.getElementById('login-form');
            var signupForm = document.getElementById('signup-form');
            var resetPasswordForm = document.getElementById('reset-password-form');

            if(formId === 'login-form'){
                loginForm.style.display = 'block';
                signupForm.style.display = 'none';
                resetPasswordForm.style.display = 'none';
            } 
            
            else if(formId === 'signup-form'){
                loginForm.style.display = 'none';
                signupForm.style.display = 'block';
                resetPasswordForm.style.display = 'none';
            } 
            
            else if(formId === 'reset-password-form'){
                loginForm.style.display = 'none';
                signupForm.style.display = 'none';
                resetPasswordForm.style.display = 'block';
            }
        }


        // Live check for username availability
        document.getElementById('username').addEventListener('input', async function(e) {
            const username = e.target.value;
            const usernameError = document.getElementById('username-error');

            if (username.length > 0) {
                const response = await fetch(`/check-username?username=${username}`);
                const result = await response.json();

                if (result.exists) {
                    usernameError.style.display = 'block';
                } 
                
                else {
                    usernameError.style.display = 'none';
                }
            } 
            
            else {
                usernameError.style.display = 'none';
            }
        });

        // Handle form submission and check for username existence without page reload
        document.getElementById('signupForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            const username = e.target.username.value;
            const usernameError = document.getElementById('username-error');

            const response = await fetch(`/check-username?username=${username}`);
            const result = await response.json();

            if (result.exists) {
                usernameError.style.display = 'block';
            } 
            
            else {
                e.target.submit();
            }
        });

    </script>
</body>
</html>
