<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Success</title>
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
    
</head>
<body>
    <h1>Password Reset Success</h1>
    <p><%= message %></p>
    <p>You can now <a href="/login-user">login</a> with your new password.</p>
</body>
</html>
