<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
    
    <title>Reset Password</title>
    
</head>

<body>
    <h1>Reset Password</h1>

    <% if (typeof success !== 'undefined' && success) { %>
        <p>Password reset email has been sent. Please check your inbox.</p>
    
        <script>
            function redirectToNewPage() {
                window.location.href = "https://dotaskforme.onrender.com/login-user";
            }

            window.onload = function() {
                setTimeout(redirectToNewPage, 1000);
            };
        </script>
    
    <% } else if (typeof error !== 'undefined' && error) { %>
        <p>An error occurred. Please try again later.</p>
    
    
    <% } else if (resetToken && user) { %>
    
        <form action="/reset-password-user/<%= resetToken %>" method="POST">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <label for="password">New Password:</label>
            <input type="password" name="newPassword" id="newPassword">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <button type="submit">Reset Password</button>
        </form>
    
    <% } else { %>
    
        <p><%= error %></p>
    
    <% } %>

</body>
</html>