<style>
    @media (min-width: 1024px) {
        .sample__col-first {
            position: relative;
            padding-left: 84px;
        }
    }

    @media (min-width: 1024px) {
        .samples__list-item .sample {
            min-height: auto;
            background-color: #fff;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.5fr;
            -webkit-box-orient: inherit;
            -webkit-box-direction: inherit;
            -ms-flex-direction: inherit;
            flex-direction: inherit;
            -webkit-box-pack: inherit;
            -ms-flex-pack: inherit;
            justify-content: inherit;
            white-space: normal;
            padding: 28px 0;
            border-top: 1px solid #dedede;
            border-radius: 0;
            max-width: none;
            height: auto;
            margin: 0;
            -webkit-transition: border .3s ease;
            transition: border .3s ease;
            width: 1046px;
        }
    }
</style>
<section class="section section-samples section-samples--background-white load-bg" data-observed-bg="">
    <div class="samples__header">
        <div class="container">
            <div class="samples__header-container">
                <h2 class="h2 samples__title">Our samples</h2>
                <div class="samples__subtitle">Verify the quality of our writing by reading our samples.</div>
                <div class="samples__button">
                    <a class="btn btn--black-white">Check out all samples</a>
                </div>
            </div>
        </div>
    </div>
    <div data-samples-tabs="">
        <div class="samples__wrapper">
            <div class="container">
                <div class="samples">
                    <div class="Tabs__content">
                        <ul class="samples__list samples__list-header list--clean">
                            <li class="samples__list-item">
                                <div class="sample">
                                    <div class="sample__col sample__col-first">Paper title</div>
                                    <div class="sample__col">Academic level</div>
                                    <div class="sample__col">Paper type</div>
                                    <div class="sample__col">Paper format</div>
                                    <div class="sample__col">Discipline</div>
                                    <div class="sample__col sample__col-last"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="splide is-initialized" data-samples-slider="" id="splide03" role="region">
                            <div class="splide__track" id="splide03-track">
                                <ul class="samples__list list--clean splide__list" id="splide03-list">
                                    <li class="samples__list-item splide__slide" id="splide03-slide01">
                                        <div class="sample">
                                            <div class="sample__col sample__col-first load-bg" data-title="Paper title"
                                                data-observed-bg="">Antibiotic Resistance Now "Global Threat", WHO Warns
                                                by Pippa Stephens
                                            </div>
                                            <div class="sample__col" data-title="Academic level">Master's</div>
                                            <div class="sample__col" data-title="Paper type">Article Summary</div>
                                            <div class="sample__col" data-title="Paper format">Oxford</div>
                                            <div class="sample__col" data-title="Discipline">Health Care</div>
                                            <div class="sample__col sample__col-last">
                                                <a class="sample__link load-bg" data-observed-bg="">Read
                                                    sample</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="samples__list-item splide__slide" id="splide03-slide02">
                                        <div class="sample">
                                            <div class="sample__col sample__col-first load-bg" data-title="Paper title"
                                                data-observed-bg="">Secret Hiding Places as I Was a Child</div>
                                            <div class="sample__col" data-title="Academic level">High School</div>
                                            <div class="sample__col" data-title="Paper type">Composition</div>
                                            <div class="sample__col" data-title="Paper format">APA</div>
                                            <div class="sample__col" data-title="Discipline">English 101</div>
                                            <div class="sample__col sample__col-last">
                                                <a class="sample__link load-bg" data-observed-bg="">Read
                                                    sample</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="samples__list-item splide__slide" id="splide03-slide03">
                                        <div class="sample">
                                            <div class="sample__col sample__col-first load-bg" data-title="Paper title"
                                                data-observed-bg="">Lab Report</div>
                                            <div class="sample__col" data-title="Academic level">College (yrs. 3-4)
                                            </div>
                                            <div class="sample__col" data-title="Paper type">Lab Report</div>
                                            <div class="sample__col" data-title="Paper format">APA 6</div>
                                            <div class="sample__col" data-title="Discipline">Physics</div>
                                            <div class="sample__col sample__col-last">
                                                <a class="sample__link load-bg" data-observed-bg="">Read sample</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
