<style>
  @media (min-width: 800px) {
    .css-txlhvs {
      padding: 11px 60px 12px;
      background-color: #06234A;
      font-size: 14px;
      font-family: Montserrat;
      font-weight: 600;
      color: rgb(255, 255, 255);
      display: inline-block;
      border-radius: 4px;
      text-decoration: none;
      outline: none;
      border: none;
      margin-left: 37px;
      cursor: pointer;
      appearance: none;
      width: 100%;
      text-align: center;
      transition: background 0.3s, color 0.3s;
    }
  }
</style>

<div class="CalculatorStemSmall" data-calculator-stem-small="" style="position: relative;">
  <div class="css-k008qs e1uwx42y3">
    <div class="css-hf2zqn e1uwx42y2">
      <div class="css-l3v75d e1pzxw5f0">
        <div version="1" class="css-lqt4hu e11ubwj50">
          <button class="css-m7k1tz e1gkyzty0" id="programmingBtn" value="46">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M13.333 15L18.333 10L13.333 5" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M6.66699 5L1.66699 10L6.66699 15" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>Programming</button>

          <button class="css-irv79t e1gkyzty0" id="calculationsBtn" value="45">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M3.29102 7.5H16.4552" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M3.29102 12.5H16.4552" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8.22756 2.5L6.58203 17.5" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M13.1641 2.5L11.5186 17.5" stroke-width="2" stroke="transparent" fill="transparent"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>Calculations</button>
        </div>
      </div>

      <div class="css-13jardz e1uwx42y1">
        <div version="1" class="css-k008qs e1uwx42y0" id="programmingDisciplines" style="display: block;">
          <div version="1" class="css-1ulyhpx ejlrtsn0"><label>Discipline</label>
            <div class="css-neif2l e1ue53w00"><select name="disciplines" defaultvalue="82">
                <option value="82">Web programming</option>
                <option value="83">Desktop applications development</option>
                <option value="84">Mobile applications development</option>
                <option value="85">Database design and optimization</option>
                <option value="86">Data analysis and reports</option>
                <option value="12">Computer science</option>
                <option value="88">3D CAD modeling</option>
                <option value="89">Algorithms</option>
              </select></div>
          </div>
        </div>
        <div version="1" class="css-k008qs e1uwx42y0 ">
          <div version="1" class="css-1ulyhpx ejlrtsn0" id="calculationDisciplines" style="display: none;">
            <label>Discipline</label>
            <div class="css-neif2l e1ue53w00"><select name="disciplines" defaultvalue="24">
                <option value="74">Engineering</option>
                <option value="71">Aviation</option>
                <option value="24">Mathematics</option>
                <option value="37">Statistics</option>
                <option value="9">Chemistry</option>
                <option value="69">Geology (and other Earth Sciences)</option>
                <option value="28">Physics</option>
                <option value="67">Astronomy (and other Space Sciences)</option>
                <option value="49">Geography</option>
                <option value="42">Biology (and other Life Sciences)</option>
                <option value="68">Ecology</option>
                <option value="45">Zoology</option>
                <option value="19">Finance</option>
                <option value="1">Accounting</option>
                <option value="22">Management</option>
                <option value="8">Business Studies</option>
                <option value="80">Medical Sciences (Anatomy, Physiology, Pharmacology etc.)</option>
                <option value="5">Architecture, Building and Planning</option>
                <option value="47">Nursing</option>
                <option value="53">Health Care</option>
                <option value="15">Economics</option>
              </select></div>
          </div>
        </div>
        <div version="1" class="css-k008qs e1uwx42y0">
          <div version="1" class="css-1ulyhpx e1uz7d9v0"><label>Deadline</label>
            <div class="css-neif2l e1ue53w00"><select name="deadlines" defaultvalue="34">
                <option value="32">8 hours</option>
                <option value="34">24 hours</option>
                <option value="36">48 hours</option>
                <option value="38">3 days</option>
                <option value="40">5 days</option>
                <option value="42">7 days</option>
                <option value="44">14 days</option>
              </select></div>
          </div>
        </div>
        <div version="1" class="css-k008qs e1uwx42y0">
          <div class="css-o4bkq e15o2ltd0"><label>Task size</label>
            <div version="1" class=" css-ldyjpc e11ubwj50"><button class=" css-1tn2x6a e1gkyzty0" value="5">Extra
                small</button><button class="UIButton--active css-ree24e e1gkyzty0" value="1"
                style="color: white;">Small</button><button class=" css-1tn2x6a e1gkyzty0"
                value="2">Medium</button><button class=" css-1tn2x6a e1gkyzty0" value="3">Large</button></div>
            <div class="TaskSizeInfo css-d9m81d e1oei5p05">
              <div class="css-5ttr6p e1oei5p01">Small</div>
              <div class="css-rv5obq e1oei5p04">up to 7 short practice problems, a simple program with up to 7
                functions</div>
              <div class="TaskSizeExamples css-au5o0b e1oei5p03"><strong>Examples:</strong>
                <ul class="TaskSizeExamplesList css-185q2bi e1oei5p00">
                  <li>small user interface</li>
                  <li>data visualization with 3-4 plots</li>
                  <li>simple decoder/encode</li>
                  <li>set of short practice tasks</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div version="1" class="css-k008qs e1uwx42y0">
          <!-- <div class="css-fckuf9 el2aggv1">
              <div class="css-8kbby1 el2aggv0">Approximate price: <strong>$126</strong></div> -->
          <a href="/form" style="margin-left: 10px; color: #06234A;"><button type="button"
              class="css-txlhvs e7cctb60">Continue to order</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>