<style>
  .section-testimonials .splide__pagination {
    bottom: 0;
    display: none;
  }

  @media (min-width: 800px) {
    .splide__list {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      height: 100%;
      padding: 0 !important;
      margin-right: 38px;
      position: relative;
      left: -63px;
      transition: transform 0.5s ease;
    }
  }

  @media (max-width: 500px) {
    .splide__slide {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      list-style-type: none !important;
      margin: 0;
      position: relative;
      right: 24px;
    }

    .section-testimonials {
      display: none;
    }

  }
</style>
<div class="section section-testimonials">
  <div class="container">
    <div class="section-testimonials__inner">
      <div class="section-testimonials__heading">
        <h2>Evaluation of our work</h2>
        <p class="section__subtitle">Here’s what students say about our service.</p>
      </div>
      <div
        class="section-testimonials__slide splide testimonials is-overflow is-initialized is-focus-in splide--slide splide--ltr splide--draggable is-active"
        data-evaluation-slider="" id="splide01" role="region" aria-roledescription="carousel">


        <div class="splide__track splide__track--slide splide__track--ltr splide__track--draggable" id="splide01-track"
          style="padding-left: 0px; padding-right: 0px;" aria-live="polite" aria-atomic="true" aria-busy="false">
          <div class="splide__list section-testimonials__slides" id="splide01-list" role="presentation"
            style="transform: translateX(-368px);">
            <div class="splide__slide is-prev" id="splide01-slide01" role="tabpanel" aria-roledescription="slide"
              aria-label="1 of 12" style="margin-right: 24px;   " aria-hidden="true">
              <div class="testimonial" style="display: none;">
                <div class="testimonial__top">
                  <div>
                    <div class="testimonial__id">ID 32372861XXX</div>
                    <div class="testimonial__date">May 10, 2024</div>
                  </div>
                </div>

                <div class="testimonial__body">Great service and great feedback!</div>
                <div class="testimonial__topic">-</div>
              </div>
            </div>
            <div class="splide__slide is-active is-visible" id="splide01-slide02" role="tabpanel"
              aria-roledescription="slide" aria-label="2 of 12" style="margin-right: 24px;   ">
              <div class="testimonial">
                <div class="testimonial__top">
                  <div>
                    <div class="testimonial__id">ID 32354348XXX</div>
                    <div class="testimonial__date">Mar 25, 2024</div>
                  </div>
                </div>

                <div class="testimonial__body">I received this paper well before my deadline, and it was stellar!</div>
                <div class="testimonial__topic">See paper instructions</div>
              </div>
            </div>
            <div class="splide__slide is-next" id="splide01-slide03" role="tabpanel" aria-roledescription="slide"
              aria-label="3 of 12" style="margin-right: 24px;   " aria-hidden="true">
              <div class="testimonial">
                <div class="testimonial__top">
                  <div>
                    <div class="testimonial__id">ID 32361588XXX</div>
                    <div class="testimonial__date">Mar 16, 2024</div>
                  </div>
                </div>

                <div class="testimonial__body">Exceptional documents' service across the board!!!</div>
                <div class="testimonial__topic">Writer's Choice</div>
              </div>
            </div>
            <div class="splide__slide" id="splide01-slide04" role="tabpanel" aria-roledescription="slide"
              aria-label="4 of 12" style="margin-right: 24px;   " aria-hidden="true">
              <div class="testimonial">
                <div class="testimonial__top">
                  <div>
                    <div class="testimonial__id">ID 32361588XXX</div>
                    <div class="testimonial__date">Mar 2, 2024</div>
                  </div>
                </div>

                <div class="testimonial__body">Exceptional work with detailed explanation. Thank you!!!</div>
                <div class="testimonial__topic">-</div>
              </div>
            </div>
          </div>
        </div>
        <ul class="splide__pagination splide__pagination--ltr" role="tablist" aria-label="Select a slide to show">
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide01" aria-label="Go to slide 1" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page is-active" type="button" role="tab"
              aria-controls="splide01-slide02" aria-label="Go to slide 2" aria-selected="true"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide03" aria-label="Go to slide 3" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide04" aria-label="Go to slide 4" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide05" aria-label="Go to slide 5" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide06" aria-label="Go to slide 6" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide07" aria-label="Go to slide 7" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide08" aria-label="Go to slide 8" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide09" aria-label="Go to slide 9" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide10" aria-label="Go to slide 10" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide11" aria-label="Go to slide 11" tabindex="-1"></button></li>
          <li role="presentation"><button class="splide__pagination__page" type="button" role="tab"
              aria-controls="splide01-slide12" aria-label="Go to slide 12" tabindex="-1"></button></li>
        </ul>
      </div>
      <a href="/writers" class="btn btn--black-orange">Check out all reviews</a>
    </div>
  </div>
</div>


</div>