<div class="section section-guarantees-with-cta section--grey-secondary">
  <div class="container">

    <div class="our-guarantees" data-observed-bg>
      <h2 class="our-guarantees__header">Our guarantees</h2>
      <div class="our-guarantees__inner">
        <ul class="our-guarantees__list list--clean">
          <li class="our-guarantees__list__item our-guarantees__list__item--moneyback">
            <h4 class="our-guarantees__list__title" data-observed-bg>Money-back guarantee</h4>
            <p class="our-guarantees__list__text">In case of any discrepancies between our promises and the results
              you get, apply for a refund and get a full or partial reimbursement.</p>
          </li>
          <li class="our-guarantees__list__item our-guarantees__list__item--revision">
            <h4 class="our-guarantees__list__title" data-observed-bg>Free revisions</h4>
            <p class="our-guarantees__list__text">Our expert will edit your paper for free if you notice any flaws
              within it. Apply for a revision if you want to change anything in your assignment.</p>
          </li>
          <li class="our-guarantees__list__item our-guarantees__list__item--auth">
            <h4 class="our-guarantees__list__title" data-observed-bg>Authenticity guarantee</h4>
            <p class="our-guarantees__list__text">Every assignment we deliver is customized. We complete each order
              from scratch, according to the instructions you specify.</p>
          </li>
          <li class="our-guarantees__list__item our-guarantees__list__item--confident">
            <h4 class="our-guarantees__list__title" data-observed-bg>Confidentiality guarantee</h4>
            <p class="our-guarantees__list__text">To secure your privacy, we apply the GDPR and our own privacy
              policy. Your visits to our website are protected by the cybersecurity software we use.</p>
          </li>
        </ul>
        <div class="our-guarantees__statistics">
          <div class="our-guarantees__statistics__row">
            <div class="our-guarantees__statistics__numbers">97.98%</div>
            <div class="our-guarantees__statistics__description">of orders are delivered on time</div>
          </div>
          <div class="our-guarantees__statistics__row">
            <div class="our-guarantees__statistics__numbers">8.5/10</div>
            <div class="our-guarantees__statistics__description">customer satisfaction rate</div>
          </div>
        </div>
      </div>
      <div class="our-guarantees__cta guarantees-cta">
        <div class="guarantees-cta__content">
          <h5>Can you do task for me?</h5>
          <p class="guarantees-cta__subtitle">
            Let's see if we have an expert who will meet your demands </p>
          <div class="guarantees-cta__footnote">

            <div class="guarantees-cta__btn-wrapper">
              <a href="/form" class="btn btn--orange">Order
                now</a>
            </div>
          </div>
        </div>
        <img src="/images/main-landing-page-images/redesign/home/our-guarantees/img_man.webp" width="135" height="111"
          loading="lazy" alt="representative person" class="guarantees-cta__img">

      </div>
    </div>
  </div>
</div>
