<style>
  .section-freebies {
    color: #06234A;
  }
</style>
<div class="section section-freebies section--grey section-freebies--grey">
  <div class="container" style="color: #06234A">
    <div class="section-freebies__inner" style="color: #06234A">
      <h2>Freebies you receive with every order:</h2>
      <ul class="list list--black-check-in-circle" style="color: #06234A">
        <li>Expert assistance in 75+ disciplines.</li>
        <li>Customized approach to your task.</li>
        <li>Compliance with your instructions.</li>
        <li>Fast delivery of your assignment.</li>
        <li>24/7 access to our support operators.</li>
      </ul>
    </div>
  </div>
</div>
