<style>
  .sample__link {
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: #100803;
    padding: 10px 0 10px 50px;
    white-space: nowrap;
    margin-right: 40px;
  }
</style>

<section class="section section-samples load-bg" data-observed-bg="">
  <div class="samples__header">
    <div class="container">
      <div class="samples__header-container">
        <h2 class="h2 samples__title">Our samples</h2>
        <div class="samples__subtitle">Verify the quality of our calculus by reading our samples.</div>
        <div class="samples__button">
          <a href="/" class="btn btn--black-white">Check out all samples</a>
        </div>
      </div>
    </div>
  </div>
  <div data-samples-tabs="">
    <div class="samples__wrapper">
      <div class="container">
        <div class="samples">
          <div class="Tabs__content">
            <ul class="samples__list samples__list-header list--clean">
              <li class="samples__list-item">
                <div class="sample">
                  <div class="sample__col sample__col-first">Paper title</div>
                  <div class="sample__col">Services type</div>
                  <div class="sample__col">Discipline</div>
                  <div class="sample__col">Size</div>
                  <div class="sample__col">Deadline</div>
                  <div class="sample__col sample__col-last"></div>
                </div>
              </li>
            </ul>
            <div class="splide is-initialized" data-samples-slider-2="" id="splide03" role="region">
              <div class="splide__track" id="splide03-track">
                <ul class="samples__list list--clean splide__list" id="splide03-list" style="">
                  <li class="samples__list-item splide__slide2" id="splide03-slide01" style="display: none;">
                    <div class="sample">
                      <div class="sample__col sample__col-first load-bg" data-title="Paper title" data-observed-bg="">
                        Graphic User Interface Development in Java Swing</div>
                      <div class="sample__col" data-title="Service type">Programming</div>
                      <div class="sample__col" data-title="Discipline">Java</div>
                      <div class="sample__col" data-title="Size">XS</div>
                      <div class="sample__col" data-title="Deadline">8h</div>
                      <div class="sample__col sample__col-last">
                        <a data-observed-bg="">Read sample</a>
                      </div>
                    </div>
                  </li>
                  <li class="samples__list-item splide__slide2" id="splide03-slide02" style="">
                    <div class="sample">
                      <div class="sample__col sample__col-first load-bg" data-title="Paper title" data-observed-bg="">
                        Hypothesis Testing in R: Investigating Respiratory Status in a Clinical
                        Trial</div>
                      <div class="sample__col" data-title="Service type">Programming</div>
                      <div class="sample__col" data-title="Discipline">R</div>
                      <div class="sample__col" data-title="Size">XS</div>
                      <div class="sample__col" data-title="Deadline">24h</div>
                      <div class="sample__col sample__col-last">
                        <a class="sample__link load-bg" data-observed-bg="">Read sample</a>
                      </div>
                    </div>
                  </li>
                  <li class="samples__list-item splide__slide2" id="splide03-slide03" style="">
                    <div class="sample">
                      <div class="sample__col sample__col-first load-bg" data-title="Paper title" data-observed-bg="">
                        Data Visualization in Python using Matplotlib Library</div>
                      <div class="sample__col" data-title="Service type">Programming</div>
                      <div class="sample__col" data-title="Discipline">Python</div>
                      <div class="sample__col" data-title="Size">XS</div>
                      <div class="sample__col" data-title="Deadline">8h</div>
                      <div class="sample__col sample__col-last">
                        <a class="sample__link load-bg" data-observed-bg="">Read sample</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
