<div class="section section-cta section-cta--type-orange decor-2" data-observed-bg>
  <div class="container">
    <div class="section-cta__inner">
      <img src="/images/main-landing-page-images/redesign/decorations/img_code.svg" width="66" height="66"
        alt="Decorative picture" loading="lazy">
      <h5>Get help with all types of homework</h5>
      <p>Place your order, and we will help you do it right</p>
      <a rel="nofollow" href="/form" class="btn btn--black-white">Place an order</a>
    </div>
  </div>
</div>
