html:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(16, 8, 3, 0);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    z-index: 2
}

@media (min-width:768px) {
    html:before {
        display: block
    }
}

@media (min-width:1024px) {
    html:before {
        display: none
    }
}

html.Overflow {
    overflow: hidden
}

html.Overflow:before {
    width: 100%;
    height: 100vh;
    background-color: rgba(16, 8, 3, .08)
}

@media (min-width:1024px) {
    html.Overflow {
        overflow: visible
    }
}

.Header {
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 0 24px;
    background-color: #2d2d2c;
    -webkit-transition: background-color .4s;
    transition: background-color .4s
}

.Header,
.Header.Header--scrolled {
    -webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
    box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
}

.Header.Header--scrolled {
    background-color: #fff
}

@media (min-width:1024px) {
    .Header.Header--scrolled .container {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.Header.Header--scrolled .Header__menu {
    top: 74px;
    height: calc(100vh - 74px)
}

@media (min-width:1024px) {
    .Header.Header--scrolled .Header__menu {
        top: auto;
        height: auto
    }
}

.Header.Header--scrolled .Header__menu-list>li a {
    color: #100803
}

.Header.Header--scrolled .Header__menu-list>li a.active {
    color: rgba(16, 8, 3, .4) !important
}

.Header.Header--scrolled .Header__logo {
    display: inline-block
}

.Header.Header--scrolled .Header__burger span {
    background-color: #100803
}

.Header.Header--scrolled .Header__logo--white-text {
    display: none
}

.Header.Header--scrolled .Header__user-box .btn--manage-order {
    border: 1px solid #dedede
}

@media (min-width:1024px) {
    .Header.Header--scrolled .Header__user-box .btn--manage-order {
        color: #100803;
        border: none
    }
}

.Header.Header--scrolled .UserBlockWhois:after {
    -webkit-filter: none;
    filter: none
}

.Header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px
}

@media (min-width:1024px) {
    .Header .container {
        -webkit-box-shadow: 0 -1px 0 0 #535353 inset;
        box-shadow: inset 0 -1px 0 0 #535353;
        -webkit-transition: -webkit-box-shadow .3s ease;
        transition: -webkit-box-shadow .3s ease;
        transition: box-shadow .3s ease;
        transition: box-shadow .3s ease, -webkit-box-shadow .3s ease
    }
}

.Header__logo,
.Header__logo--white-text {
    position: relative;
    max-width: 203px;
    z-index: 2;
    display: none
}

@media (min-width:1024px) {

    .Header__logo,
    .Header__logo--white-text {
        max-width: 234px
    }
}

.Header__logo--white-text-link,
.Header__logo--white-text-link svg,
.Header__logo-link,
.Header__logo-link svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto
}

.Header__logo--white-text {
    display: inline-block
}

.Header__burger {
    position: relative;
    width: 24px;
    height: 19px;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    z-index: 2
}

@media (min-width:1024px) {
    .Header__burger {
        display: none
    }
}

.Header__burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: background-color .5s ease, -webkit-transform .5s ease;
    transition: background-color .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, background-color .5s ease;
    transition: transform .5s ease, background-color .5s ease, -webkit-transform .5s ease;
    will-change: transform
}

.Header__burger span:first-child {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
}

.Header__burger span:nth-of-type(2) {
    -webkit-transition: opacity .5s ease, background-color .5s ease;
    transition: opacity .5s ease, background-color .5s ease
}

.Header__burger span:last-child {
    -webkit-transform: translateY(6px);
    transform: translateY(6px)
}

.Header__burger--active span {
    background-color: #ffb806
}

.Header__burger--active span:first-child {
    -webkit-transform: rotate(45deg) translateY(4px);
    transform: rotate(45deg) translateY(4px)
}

.Header__burger--active span:nth-of-type(2) {
    opacity: 0
}

.Header__burger--active span:last-child {
    -webkit-transform: rotate(-45deg) translateY(-4px);
    transform: rotate(-45deg) translateY(-4px)
}

.Header__menu {
    visibility: hidden;
    position: fixed;
    top: 78px;
    right: -100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
    height: calc(100vh - 78px);
    padding: 8px 24px 30px;
    background-color: #fff;
    overflow-y: auto;
    -webkit-box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
    box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
    -webkit-transition: opacity .5s, visibility .5s ease, -webkit-transform .5s;
    transition: opacity .5s, visibility .5s ease, -webkit-transform .5s;
    transition: opacity .5s, visibility .5s ease, transform .5s;
    transition: opacity .5s, visibility .5s ease, transform .5s, -webkit-transform .5s;
    will-change: transform
}

@media (min-width:768px) {
    .Header__menu {
        width: 370px;
        right: -370px;
        padding: 8px 24px 30px;
        margin-left: auto
    }
}

@media (min-width:1024px) {
    .Header__menu {
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        width: auto;
        height: auto;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        overflow: visible;
        -webkit-transition: margin .3s ease;
        transition: margin .3s ease
    }
}

.Header__menu-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none
}

@media (min-width:1024px) {
    .Header__menu-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:1024px) {
    .Header__menu-list li a {
        color: #fff;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out
    }
}

.Header__menu-list li a.active {
    color: hsla(0, 0%, 100%, .4) !important
}

.Header__menu-list>li {
    position: relative;
    margin-bottom: 0
}

.Header__menu-list>li+li {
    border-top: 1px solid #acacac
}

@media (min-width:1024px) {
    .Header__menu-list>li+li {
        margin-left: 15px;
        border-top: 0
    }
}

@media (min-width:1200px) {
    .Header__menu-list>li+li {
        margin-left: 28px
    }
}

.Header__menu-list>li.Header__menu-list-item-order {
    border-top: 0;
    padding-top: 16px
}

@media (min-width:1024px) {
    .Header__menu-list>li.Header__menu-list-item-order {
        display: none
    }
}

.Header__menu-list>li.Header__menu-list-item-order .btn--order-now {
    display: inline-block;
    padding: 12px 28px;
    width: auto
}

.Header__menu-list a {
    display: block;
    font-size: .875rem;
    font-weight: 600;
    color: #100803;
    padding: 16px 0;
    border-bottom: .125em solid transparent;
    -webkit-box-shadow: 0 .071em 0 transparent;
    box-shadow: 0 .071em 0 transparent;
    text-decoration: none
}

.Header__menu-list a:focus,
.Header__menu-list a:hover {
    text-decoration: none;
    opacity: .4
}

@media (min-width:1024px) {
    .Header__menu-list a {
        display: inline;
        padding: 0
    }
}

.Header__user-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

@media (min-width:1024px) {
    .Header__user-box {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-left: 7px;
        padding-left: 8px
    }
}

@media (min-width:1200px) {
    .Header__user-box {
        margin-left: 14px;
        padding-left: 14px
    }
}

.Header__user-box .btn--manage-order {
    white-space: nowrap;
    padding: 0 0 0 36px;
    margin-right: 20px;
    width: 38px;
    height: 38px;
    -webkit-box-shadow: 0 0 1px 1px #585655;
    box-shadow: 0 0 1px 1px #585655;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}

@media (min-width:1024px) {
    .Header__user-box .btn--manage-order {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        margin-right: 28px;
        width: auto;
        height: auto;
        border: 0;
        border-radius: 0;
        overflow: visible;
        border-bottom: .125em solid transparent;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
        color: #fff
    }

    .Header__user-box .btn--manage-order:focus,
    .Header__user-box .btn--manage-order:hover {
        color: hsla(0, 0%, 100%, .4)
    }
}

.Header__user-box .btn--manage-order:before {
    content: "";
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: url(/images/ico_manage-orders.svg) 50% no-repeat;
    background-size: contain
}

@media (max-width:1024px) {
    .Header__user-box .btn--manage-order:before {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto
    }
}

.Header__user-box .btn--manage-order:active,
.Header__user-box .btn--manage-order:focus,
.Header__user-box .btn--manage-order:hover {
    text-decoration: none
}

.Header__user-box .btn--order-now {
    display: none;
    padding: 12px 28px
}

@media (min-width:1024px) {
    .Header__user-box .btn--order-now {
        display: block
    }
}

.Header__user-box a.UserBlockWhois--orders {
    display: none
}

.Header__user-box .UserBlockWhois__avatar-container {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #acacac;
    background: none
}

.Header__user-box .UserBlockWhois__avatar-container:before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    margin: 8px 9px 9px;
    background: url(/images/ico_manage-orders.svg) 50% no-repeat;
    background-size: contain
}

.Header__user-box .UserBlockWhois {
    width: 56px;
    height: 42px;
    margin-right: 20px
}

@media (min-width:1024px) {
    .Header__user-box .UserBlockWhois {
        margin-right: 1vw
    }
}

@media (min-width:1980px) {
    .Header__user-box .UserBlockWhois {
        margin-right: 20px
    }
}

.Header__user-box .UserBlockWhois:after {
    border: 0;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOSAxTDUgNSAxIDEiIHN0cm9rZT0iIzEwMDgwMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=") 50% no-repeat;
    background-size: contain;
    -webkit-filter: brightness(1) saturate(0) invert(1);
    filter: brightness(1) saturate(0) invert(1)
}

.Header__user-box .UserBlock__menu {
    font-size: 14px
}

.Header-nav--open {
    z-index: 21
}

.Header-nav--open .Header__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible
}

@media (min-width:768px) {
    .Header-nav--open .Header__menu {
        -webkit-transform: translateX(-370px);
        transform: translateX(-370px)
    }
}

@media (min-width:1024px) {
    .Header-nav--open .Header__menu {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

a {
    color: #100803;
    text-decoration: none
}

a:focus,
a:hover {
    color: #100803;
    text-decoration: underline
}

a:active {
    color: #100803
}

.Accordion__item__body a,
.link {
    border-bottom: 1px solid #dedede;
    -webkit-transition: border .2s ease;
    transition: border .2s ease;
    text-decoration: none;
    font-weight: 500
}

.Accordion__item__body a:focus,
.Accordion__item__body a:hover,
.link:focus,
.link:hover {
    text-decoration: none;
    border-bottom-color: #ffb806
}

.link-animated {
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: #100803;
    padding: 10px 0 10px 66px;
    white-space: nowrap
}

.link-animated:before {
    width: 30px;
    height: 30px;
    top: 0;
    left: 16px;
    border: 1px solid #ffb806;
    border-radius: 2px;
    -webkit-box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
    box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease
}

.link-animated:after,
.link-animated:before {
    content: "";
    position: absolute;
    bottom: 0;
    margin: auto
}

.link-animated:after {
    width: 36px;
    height: 9px;
    top: 1px;
    right: calc(100% - 34px);
    background: 100% no-repeat;
    background-size: 36px 9px;
    -webkit-transition: width .3s ease, right .2s ease, -webkit-filter .3s ease;
    transition: width .3s ease, right .2s ease, -webkit-filter .3s ease;
    transition: filter .3s ease, width .3s ease, right .2s ease;
    transition: filter .3s ease, width .3s ease, right .2s ease, -webkit-filter .3s ease
}

.link-animated.load-bg:after {
    background-image: url(/images/redesign/icons/ico_arrow-orange.svg)
}

.link-animated:focus,
.link-animated:hover {
    text-decoration: none;
    color: #100803
}

.link-animated:focus:before,
.link-animated:hover:before {
    background-color: #ffb806
}

.link-animated:focus:after,
.link-animated:hover:after {
    right: calc(100% - 40px);
    width: 18px;
    -webkit-filter: brightness(1) saturate(0) invert(1);
    filter: brightness(1) saturate(0) invert(1)
}

.Accordion {
    width: 100%;
    list-style: none
}

.Accordion__item {
    border-bottom: 1px solid #dedede;
    margin-bottom: 0;
    -webkit-transition: border-bottom-color .2s ease-in-out;
    transition: border-bottom-color .2s ease-in-out
}

.Accordion__item:hover {
    border-bottom: 1px solid #100803
}

.Accordion__item:hover.open {
    border-bottom: 1px solid #dedede
}

.Accordion__item:first-child .Accordion__item__heading {
    padding-top: 0
}

.Accordion__item:first-child .Accordion__item__heading:after,
.Accordion__item:first-child .Accordion__item__heading:before {
    top: 8px
}

.Accordion__item.open .Accordion__item__heading:after {
    opacity: 0
}

.Accordion__item .Accordion__item__heading {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
    text-transform: unset
}

@media (min-width:1024px) {
    .Accordion__item .Accordion__item__heading {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px
    }
}

.Accordion__item__heading {
    position: relative;
    padding: 16px 30px 16px 0;
    cursor: pointer
}

@media (min-width:1024px) {
    .Accordion__item__heading {
        padding: 34px 105px 34px 35px
    }
}

.Accordion__item__heading:focus:after,
.Accordion__item__heading:focus:before,
.Accordion__item__heading:hover:after,
.Accordion__item__heading:hover:before {
    /* background-color: #100803; */
}

/* .Accordion__item__heading:after,
.Accordion__item__heading:before {
    content: "";
    width: 13px;
    height: 3px;
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    background-color: #ffb806;
    -webkit-transition: background-color .3s ease, opacity .3s ease;
    transition: background-color .3s ease, opacity .3s ease;
    margin: auto
} */
.Accordion__item__heading:after,
.Accordion__item__heading:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust right position as needed */
    background-color: #062356;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin: auto;
}

/* Horizontal line (minus sign) */
.Accordion__item__heading:before {
    width: 13px;
    height: 3px;
    transform: translate(34%,-50%); /* Center the line vertically */
}

/* Vertical line (plus sign) */
.Accordion__item__heading.plus:after {
    content: "";
    width: 3px;  /* Adjust thickness to match horizontal line */
    height: 13px; /* Adjust height to match the visual size of the plus sign */
    transform: translateY(-50%); /* Center vertically */
}

/* Hide the vertical line when in minus state */
.Accordion__item__heading.minus:after {
    content: none;
}
.Accordion__item__body {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.Accordion__item__body.expanded {
    padding: 10px;
    border-top: 1px solid #ddd;
    height: auto;
}
@media (min-width:1024px) {

    .Accordion__item__heading:after,
    .Accordion__item__heading:before {
        right: 54px
    }
}

.Accordion__item__heading:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.Accordion__item__body {
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: height .3s ease
}

.Accordion__item__content {
    padding: 0 30px 16px 0;
    font-size: 14px;
    line-height: 170%
}

@media (min-width:1024px) {
    .Accordion__item__content {
        padding: 0 105px 34px 45px
    }
}

@media (min-width:1024px) {
    .Accordion.list {
        list-style: none;
        counter-reset: number-counter
    }

    .Accordion.list .Accordion__item {
        position: relative;
        counter-increment: number-counter
    }

    .Accordion.list .Accordion__item:before {
        content: counter(number-counter) ".";
        position: absolute;
        top: 34px;
        left: 0;
        color:#06234A;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px
    }

    .Accordion.list .Accordion__item:first-child:before {
        top: 0
    }
}

.Footer {
    padding: 60px 24px;
    background-color: #100803;
    color: #fff;
    position: relative
}

@media (min-width:1024px) {
    .Footer {
        padding: 120px 24px
    }
}

.Footer__heading,
.Footer__menu__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 16px
}

@media (min-width:1024px) {

    .Footer__heading,
    .Footer__menu__heading {
        font-size: 30px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 20px
    }
}

.Footer__menu {
    width: 50%
}

@media (min-width:768px) {
    .Footer__menu {
        width: 25%
    }
}

.Footer__menu__terms {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px
}

@media (min-width:768px) {
    .Footer__menu__terms {
        width: 50%;
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width:768px) {
    .Footer__menu__terms .Footer__menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (min-width:768px) {
    .Footer__menu__terms .Footer__menu__list-item {
        width: 50%
    }
}

.Footer__menu__list-item {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px
}

.Footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #302e2e
}

@media (min-width:1024px) {
    .Footer__top {
        margin-bottom: 42px;
        padding-bottom: 42px
    }
}

.Footer__top a {
    color: #fff;
    border-bottom: .125em solid transparent;
    -webkit-box-shadow: 0 .071em 0 #3e3c3c;
    box-shadow: 0 .071em 0 #3e3c3c;
    -webkit-transition: color .2s ease, -webkit-box-shadow .2s ease;
    transition: color .2s ease, -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease, color .2s ease;
    transition: box-shadow .2s ease, color .2s ease, -webkit-box-shadow .2s ease;
    text-decoration: none
}

.Footer__top a:focus,
.Footer__top a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 .071em 0 #ffb806;
    box-shadow: 0 .071em 0 #ffb806;
    color: #ffb806
}

.Footer__language {
    margin-top: 24px
}

@media (min-width:768px) {
    .Footer__language {
        margin-top: 70px
    }
}

.Footer__language ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Footer__language ul li+li {
    margin-left: 12px
}

.Footer__bottom {
    display: grid;
    grid-row-gap: 24px
}

@media (min-width:768px) {
    .Footer__bottom {
        display: grid;
        grid-template-columns: auto 224px;
        grid-row-gap: 42px;
        grid-column-gap: 128px
    }
}

.Footer__text {
    font-size: 14px;
    line-height: 170%;
    color: #f3f3f3;
    margin-bottom: 0
}

.Footer__contacts__company {
    font-weight: 600;
    font-size: 17px;
    line-height: 155%;
    margin-bottom: 12px
}

@media (min-width:1024px) {
    .Footer__contacts__company {
        font-size: 18px
    }
}

.Footer__contacts__address,
.Footer__contacts__copyright {
    font-size: 14px;
    line-height: 170%;
    color: #f3f3f3;
    margin: 0
}

.Footer .scroll-to-top {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background: url(/images/redesign/icons/ico_arrow-up-black.svg) 50%/10px 6px no-repeat, #ffb800;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

@media (min-width:1024px) {
    .Footer .scroll-to-top {
        width: 56px;
        height: 56px;
        right: 40px;
        top: 32px
    }
}

.Footer .scroll-to-top:focus,
.Footer .scroll-to-top:hover {
    background-color: #fff
}

.Footer__socials__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 1rem;
    gap: 1rem
}

@media (min-width:1024px) {
    .Footer__socials__item img {
        width: 32px;
        height: 32px
    }
}