.testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
    box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
    border-radius: 4px;
    margin-bottom: 40px
}

@media (min-width:1024px) {
    .testimonial {
        margin: 0;
        min-height: 263px
    }
}

.testimonial__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
    box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
    border-radius: 4px;
    margin: 0 0 12px
}

@media (min-width:768px) {
    .testimonial__item {
        margin-bottom: 40px
    }
}

.testimonial__top {
    padding: 1rem 1rem 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px
}

@media (min-width:1024px) {
    .testimonial__top {
        padding: 36px 36px 8px
    }
}

.testimonial__top:before {
    content: "";
    top: 0;
    left: 1.5rem;
    background-color: #f3f3f3;
    background-image: url(../../../images/footer-related-links-images/redesign/icons/ico_quotes-blue.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 22px 14px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 14px
}

.testimonial__id {
    color: rgba(16, 8, 3, .6);
    margin-bottom: 2px
}

.testimonial__date {
    color: rgba(16, 8, 3, .3);
    font-weight: 500
}

.testimonial__body {
    padding: 0 24px 44px 56px;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    padding: 0 1rem 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%
}

@media (min-width:1024px) {
    .testimonial__body {
        padding: 0 36px 38px;
        font-size: 16px
    }
}

.testimonial__topic {
    padding: 8px 1rem 1rem;
    border-top: 1px solid #dedede;
    font-size: 14px;
    line-height: 1.7;
    margin-top: auto;
    color: #100803
}

@media (min-width:768px) {
    .testimonial__topic {
        font-size: 12px
    }
}

@media (min-width:1024px) {
    .testimonial__topic {
        font-size: 14px;
        padding: 10px 36px 1rem
    }
}

/* Show all pagination buttons on small screens */
@media (max-width: 768px) {
    .splide__pagination li {
      display: inline-block;
    }
  }
  
  /* Show only 4 pagination buttons on large screens */
  @media (min-width: 769px) {
    .splide__pagination li {
      display: none;
    }
    
    /* Select and show the first 4 pagination buttons */
    .splide__pagination li:nth-child(-n+4) {
      display: inline-block;
    }
  }
/* For small screens (up to 768px) */
/* For small screens (up to 768px) */
@media (max-width: 768px) {
    .splide__slide {
      width: calc(100% + 0px);
    }
  }
  
  /* For tablets (between 769px and 1024px) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .splide__slide {
      width: calc(50% - 12px);
    }
  }
  
  /* For large screens (above 1024px) */
  @media (min-width: 1025px) {
    .splide__slide {
      width: calc(33.3333% - 16px);
    }
  }